.AccountPage {
  display: flex;
  height: 100%;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  color: var(--white);

  max-width: 350px;
  width: 100%;
  margin: 0 auto;
  padding-bottom: 36px;

  &__header {
    display: flex;
    justify-content: center;
    position: relative;
    width: 100%;
    margin-top: 20px;
    .GoBackButton {
      position: absolute;
      left: -12%;
      top: 50%;
      transform: translateY(-50%);
    }
    &__title {
      font-family: var(--secondary-ff), sans-serif;
    }
  }
  &__button {
    background-color: var(--red-button);
    width: 100%;
  }

  a.AccountPage__link {
    text-decoration: underline;
    color: var(--orange);
  }
}
