.button {
  padding: 18px 15px;
  border-radius: 10px;
  height: 60px;
  display: flex;
  text-align: center;
  max-width: min(306px, 100%);
  align-items: center;
  justify-content: center;
  transition: 0.4s;

  &_custom {
    max-width: 100%;
    flex: 1;
  }

  &_primary {
    color: var(--white);
    background-color: var(--orange);
    &:disabled {
      background-color: var(--orange-50);
    }
    &:hover:not(:disabled) {
      background-color: var(--orange-50);
    }
  }

  &_secondary {
    color: var(--white);
    box-shadow: 0 0 0 1px var(--white);
    background-color: var(--orange-30);
  }
}
