.checkbox {
  flex-shrink: 0;
  width: 20px;
  height: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 0 0 1px var(--light-gray);
  border-radius: 5px;
  background-color: var(--dark-gray);
}
