.HomePage {
  display: flex;
  height: 100%;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  color: var(--white);

  &__content {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__image {
    max-width: 330px;
    max-height: 330px;
    height: 42.25vh;
  }

  &__scanBtn {
    width: 100%;
  }

  &__downSide {
    width: 100%;
    display: flex;
    align-items: center;
    row-gap: 18px;
    flex-direction: column;
  }

  &__header {
    display: flex;
    justify-content: center;
    position: relative;
    width: 100%;
    .GoBackButton {
      position: absolute;
      left: 0;
      top: 50%;
      transform: translateY(-50%);
    }
  }
}
